.update-password-main-container{
    position: fixed;
    top: 70px;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: #e8edf0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-password-container{
    width: 30%;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.update-password-heading{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #213547;
}

.update-password-stack{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-bottom: 10px;
}

.update-password-stack > p{
    font-size: 14px;
    font-weight: 600;
    color: #222;
}

.update-password-stack > input{
    padding: 12px 10px;
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    letter-spacing: 0.2px;
}

.update-password-btn{
    padding: 12px 30px;
    width: 100%;
    border: none;
    background-color:#2a4358;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 25px;
}

.update-password-btn:hover{
    background-color:#324f66;
    cursor: pointer;
}

@media (width <= 880px ) {
    .update-password-container{
        width: 50%;
    }
}

@media (width <= 480px ) {
    .update-password-container{
        width: 90%;
    }
}