.nav-container{
    width: 100vw;
    background-color: rgb(255, 255, 255);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 13vw;
    position: relative;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.nav-logo{
    height: 43px;
}

.sidebar-icon{
    display: none;
}

@media (width <= 840px) {
    .nav-container{
        padding: 0 4vw;
    }
}

@media (width <= 460px){
    .nav-container{
        justify-content: center;
    }

    .nav-logo{
        height: 40px;
    }

    .sidebar-icon{
        display:inline-block;
        position: absolute;
        left: 7px;
        font-size: 47px;
        color: #282C3F;
        padding: 10px;
        border-radius: 50%;
        z-index: 5;
    }

    .sidebar-icon:hover{
        cursor: pointer;
        background-color: #eee;
    }

    .navbar-right-main-container{
        display: none;
    }
}