.cart-item-container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    height: fit-content;
    gap: 20px;
    padding: 15px;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.cart-img-container{
    width: fit-content;
    height: 130px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.cart-img-container > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.cart-data-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart-data-container > .name{
    color: #334b61;
    font-size: 20px;
    font-weight: 600;
}

.cart-data-container > .price{
    margin-top: 5px;
    color: #333;
    font-size: 17px;
    font-weight: 600;
}

.cart-data-container > .price > span{
    font-size: 13px;
    font-weight: 600;
    margin-right: 2px;
}

.cart-data-container > .quantity{
    margin-top: 3px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}

.cart-data-container > .stock{
    margin-top: 2px;
    font-size: 13.5px;
    font-weight: 600;
}

.stock > .product-detail-inStock{
    color: #0a7051;
    font-size: 13px;
}

.stock > .product-detail-outStock{
    color: #dc3545;
    font-size: 13px;
}

.updateQuantity-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.updateQuantity-container > button{
    border: none;
    padding: 8.5px 20px;
    background-color: #bcf7c4;
    color: #063d18;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
}

.quantity-inc-dec-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.quantity-inc-dec-btn > input{
    width: 45px;
    text-align: center;
    border: none;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #282c3f;

}

.quantity-inc-dec-btn > input:focus{
    outline: none;
}

.quantity-inc-dec-btn > button{
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    padding: 2px 10px;
    background-color: #3f4875;
}

.quantity-inc-dec-btn > button:first-child{
    padding: 2px 12.5px;
}

.quantity-inc-dec-btn > button:hover{
    background-color: #2b2f4d;
    cursor: pointer;
}

.remove-btn{
    border: none;
    background-color: #dc3545;
    padding: 7px 15px;
    font-size: 13px;
    text-transform: capitalize;
    color: white;
    border-radius: 3px;
}

.subtotal-container{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.subtotal-container > div > .heading{
    color: #333;
    font-size: 17px;
    font-weight: 600;
}

.subtotal-container > div > .subtotal{
    color: #333;
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (width <= 480px){
    .cart-img-container{
        height: 180px;
        width: 100%;
    }

    .cart-item-container{
        display: flex;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }

    .subtotal-container{
        padding-right: 0px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .subtotal-container > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin-top: 0px;
    }

    .subtotal-container > div >  .subtotal{
        color: #333;
        font-size: 17.5px;
        font-weight: 500;
        margin-top: 0px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .subtotal-container > div > .heading{
        color: #333;
        font-size: 17px;
        font-weight: 600;
        margin-top: 0px;
    }

    .remove-btn{
        position: static;
    }
}